<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Log in to Investment</title>
    <link rel="stylesheet" th:href="@{/css/login.css}">
</head>
<body>
    <div class="login-container">
        <h1>Welcome back</h1>
        <form>
            <fieldset class="notched">
                <legend><span>Email</span></legend>
                <input type="email" placeholder="email123@test.com" required>
            </fieldset>

            <input type="password" placeholder="Password">
        </form>
    </div>
</body>
</html>