<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Log in to Investment</title>
    <link rel="stylesheet" th:href="@{/css/login.css}">
</head>
<body>
<div class="login-container">
    <h1 id="title">Welcome back</h1>
    <form>
        <fieldset class="input-container">
            <legend>Email</legend>
            <input type="email" placeholder="kristin.watson@example.com" required>
        </fieldset>

        <fieldset class="input-container">
            <legend>Password</legend>
            <input type="password" placeholder="Password">
        </fieldset>

        <div class="remember-me-container">
            <div>
                <input type="checkbox" id="remember-me">
                <label for="remember-me">Remember me</label>
            </div>
            <span>Forgot password?</span>
        </div>

        <button type="submit">Sign in</button>
    </form>
</div>
</body>
</html>